#outer{
    width: 1050px;
    outline: 1px solid;
}

.day{
    width: 150px;
    height: 60px;
    outline: 2px solid;
    float: left;
}

div p {
    width: 150px;
    margin: auto;
}

#title{
    width: 1050px;
}

.row1{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

.row2{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

.row3{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

.row4{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

.row5{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

.row6{
    width: 150px;
    height: 100px;
    outline: 1px dashed;
    float: left;
}

#calTitle{
    margin: 0 auto;
    outline: 1px dotted;
}

#header{
    width: 230px;
}

#login{
    float: right;
}

#signUp{
    float: left;
}

#signUpFirstName{
    float: right;
}

#signUpLastName{
<<<<<<< HEAD
    float: right;
}

#signUpUsername{
    float: right;
}

=======
    float: right;
}

#signUpUsername{
    float: right;
}

>>>>>>> 358c067347cee285d94bb0bdb55ef91953255c67
#nav{
    width: 200px;
}

#signUpPassword{
    float: right;
}

#signUpBtn{
    float: right;
}

#share{
    width: 250px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 358c067347cee285d94bb0bdb55ef91953255c67
